/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* colors */
:root {
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    font-family: 'Manrope';
}

/* screens */
/* web */
@media screen and (max-width:1440px) {
    #article {
        width: 750px;
        /* display: flex; */
        flex-direction: row;
        /* background-color: white; */
        margin-top: 150px;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    #image {
        width: 400px;
        border-radius: 20px 0 0 20px;
    }

    #txt {
        width: 600px;
    }

    #title {
        padding: 40px 50px 10px 40px;
        font-size: 20px;
    }

    #para {
        padding: 0 50px 20px 40px;
    }

    #data {
        margin-right: 160px;
    }

    .activeTxt {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        bottom: 180%;
        left: 50%;
        margin-left: -109px;
        width: 180px;
        height: 35px;
        border-radius: 10px;
        color: var(--grayishBlue);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        font-size: 10px;
        letter-spacing: 0.6em;
    }

    .shared.active .activeTxt {
        visibility: visible;
    }

    .shared .activeTxt::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: var(--veryDarkGrayishBlue) transparent transparent transparent;
    }

    .social {
        margin-left: 15px;
        width: 15px;
    }



}

/* Mobile */
@media screen and (max-width:375px) {
    #article {
        width: 350px;
        flex-direction: column;
        margin-top: 150px;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    #image {
        height: 230px;
        width: 350px;
        border-radius: 20px 20px 0 0;
    }

    #txt {
        width: 350px;
    }

    #title {
        padding: 40px 40px 10px 40px;
        font-size: 17px;
    }

    #para {
        padding: 0 52px 20px 40px;
    }

    #data {
        margin-right: 50px;
    }

    .activeTxt {
        border-radius: 0 0 10px 10px;
        padding: 5px 0px 5px 30px;
        font-size: 12px;
        bottom: -78%;
        left: 50%;
        margin-left: -277px;
        width: 320px;
        height: 60px;
        justify-content: start;
        z-index: 1;
        position: absolute;
    }
    .activeTxt::after {
        display: none;
    }
    .activeTxt .shared {
        color: white;
        margin-left: 6px
    }
    .social {
        margin-left: 20px;
        width: 20px;
    }
}

/* Container */
#container {
    background-color: var(--lightGrayishBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* article */
#article {
    display: flex;
    background-color: white;
    margin-top: 150px;
    border-radius: 20px;
    margin-bottom: 50px;
}

/* image */
#image {
    background-image: url(images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    color: var(--veryDarkGrayishBlue);
}

#para {
    font-size: 13px;
    color: var(--desaturatedDarkBlue);
    line-height: 1.3rem;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 25px 40px;

}

#imgData {
    border-radius: 50%;
    width: 40px;
    margin-right: 15px;
}

#data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#data h4 {
    color: var(--desaturatedDarkBlue);
    margin-bottom: 30px;
}

#data p {
    color: var(--grayishBlue);
    font-size: 13px;
}

.activeTxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--veryDarkGrayishBlue);
    text-transform: uppercase;
    /* font-size: 10px; */
    letter-spacing: 0.6em;
}

.shared {
    border-radius: 50%;
    background-color: var(--lightGrayishBlue);
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--veryDarkGrayishBlue);
    font-size: 15px;
    z-index: 2;

}

.shared.active {
    background-color: var(--desaturatedDarkBlue);
    color: white;

}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}